
        
        h2 {
            color:#00008b;
        }  
        
        body {
            background-color:#00008b;
        }

        #box {
             width:900px;
             height:300px;
             background-color:white;
}
